<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.dt.dao.system.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.bf.dt.entity.RoleMenu">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="rid" jdbcType="VARCHAR" property="rid" />
    <result column="mid" jdbcType="VARCHAR" property="mid" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, rid, mid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt..role_menu
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dt..role_menu
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bf.dt.entity.RoleMenu">
    insert into role_menu (uuid, rid, mid
      )
    values (#{uuid,jdbcType=VARCHAR}, #{rid,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bf.dt.entity.RoleMenu">
    insert into dt..role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="mid != null">
        mid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bf.dt.entity.RoleMenu">
    update dt..role_menu
    <set>
      <if test="rid != null">
        rid = #{rid,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        mid = #{mid,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bf.dt.entity.RoleMenu">
    update dt..role_menu
    set rid = #{rid,jdbcType=VARCHAR},
      mid = #{mid,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <select id="findByRid" parameterType="string" resultType="string">
    select rm.mid from role_menu rm where rid = #{rid}
  </select>

  <delete id="deleterm" parameterType="map">
    delete from role_menu rm where rm.rid = #{rid} and rm.mid = #{mid}
  </delete>




</mapper>