<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.dt.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.bf.dt.entity.Menu">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="parentid" jdbcType="VARCHAR" property="parentid" />
    <result column="vuecomp" jdbcType="VARCHAR" property="vuecomp" />
    <result column="vuename" jdbcType="VARCHAR" property="vuename" />
  </resultMap>


  <resultMap id="UserMenuMap" type="com.bf.dt.vo.UserMenu">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="parentid" jdbcType="VARCHAR" property="parentid" />
    <result column="vuecomp" jdbcType="VARCHAR" property="vuecomp" />
    <result column="vuename" jdbcType="VARCHAR" property="vuename" />
    <collection property="children" ofType="com.bf.dt.vo.UserMenu" select="com.bf.dt.dao.MenuMapper.findByParentId" column="uuid"></collection>
  </resultMap>

  <sql id="Base_Column_List">
    uuid, menu_name, path, parentid,vuecomp,vuename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dt.menu
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dt..menu
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bf.dt.entity.Menu">
    insert into dt..menu (uuid, menu_name, path, 
      parentid)
    values (#{uuid,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bf.dt.entity.Menu">
    insert into dt..menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bf.dt.entity.Menu">
    update dt..menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bf.dt.entity.Menu">
    update dt..menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>


  <select id="findByMid" parameterType="string" resultMap="UserMenuMap">
    select m.* from menu m where m.uuid = #{mid} and m.parentid = "0"
  </select>

  <select id="findByParentId" parameterType="string" resultMap="UserMenuMap">
    select m.* from menu m where m.parentid = #{uuid}
  </select>

  <select id="findByMain" resultType="string">
    select m.uuid from menu m where m.parentid = '0'
  </select>


</mapper>